:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;    
}
/* start component  */
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-200 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.grid-300 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.grid-450 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
/* end component  */
/* Start Box */
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.gap-20 {
    gap: 20px;
}
/* End Box */
/* Start Padding + Margin */
.p-0 {
    padding: 0;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-20 {
    padding-left: 20px;
}
.m-0 {
    margin: 0;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
/* End Padding + Margin */
/* Start Color */
.c-white {
    color: white;
}
.c-black {
    color: black;
}
.c-gray {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: var(--red-color);
}
.bg-white {
    background-color: white;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-eee {
    background-color: #eee;
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
/* End Color */
/* Start position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* End position */
/* Start Font */
.txt-c {
    text-align: center;
}
.fw-bold {
    font-weight: bold;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-25 {
    font-size: 25px;
}
/* End Font */
/* Start Border */
.b-none {
    border: none;
}
.b-ccc {
    border: 1px solid #ccc;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-50 {
    border-radius: 50%;
}
.border-ddd {
    border: 1px solid #ddd;
}
.border-eee {
    border: 1px solid #eee;
}
/* End Border */
/* start width + heigh */
.w-100 {
    width: 100px;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.w-fit {
    width: fit-content;
}
.h-100 {
    height: 100px;
}
/* end width + heigh */
/* start mobile size */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
    .d-block-mobile {
        display: block;
    }
    .grid-mobile {
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
        }
    .txt-c-mobile {
        text-align: center;
    }
}
/* end mobile size */